html{
    min-height: 100%;
}
h3{
    text-align: center;
}
.container1 {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
.nombrePais{
    display: flex;
    text-align: center;
    padding: 100px;

}
.BanderaFrancia{
    
    display: flex;
    flex-flow: row;

}
.cuadrado1{
    width: 100px;
    height: 200px;
    background: rgba(16, 98, 128, 0.795);
    }
.cuadrado2{
    width: 100px;
    height: 200px;
    background: rgb(232, 222, 222);
}
.cuadrado3{
    width: 100px;
    height: 200px;
    background: rgb(255, 0, 0);
}
.container2{
    display: flex;
    align-items: left;
    flex-flow: column;
}
.container3{
    text-align: center;
}
.Imagen{
    border-radius: 25px;
    width: 300px;
    height: 200px;
    
}
.Texto1{
    padding: 20px;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}
.container4{
    padding: 20px;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

.container5{
    display: flex;
    align-items: center ;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: ;

}
.perdido1{
    width: 50px;
    height: 200px;
    background: rgba(239, 21, 21, 0.795);
}
.ganado1{
    width: 50px;
    height: 100px;
    background: rgba(38, 255, 0, 0.795);
}
h1 {
    text-align: center;
    color: rgb(4, 4, 4);
    padding: 60px;
}
